/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* custom properties */
:root {
    --font-family: 'Grandstander', cursive;
    --bg-color: #f9d3ee;
    --primary-color: #da4b27;
    --secondary-color: #f7b0d6;
    --timer-size: 600px;
    --needle-size: 160px;
}
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 80px;
}
button {
    font-family: var(--font-family);
    font-size: 36px;
    padding: 16px 4px 10px 4px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
button:disabled {
    opacity: 0.2;
}
.control-btn--pause {
    background-image: url(../img/pause.svg);
}
.control-btn {
    background-color: var(--primary-color);
    color: white;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.add-time-btn {
    background-color: var(--primary-color);
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}
.board {
    display: flex;
    align-items: center;
}
.board > div {
    margin: 16px;
}
.pomodoro {
    position: relative;
    width: var(--timer-size);
    height: var(--timer-size);
}
.pomodoro::after {
    content: "";
    background-image: url(../img/pomodoro.png);
    position: absolute;
    top: 0;
    left: 0;
    width: var(--timer-size);
    height: var(--timer-size);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}
.needle {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--timer-size);
    height: var(--timer-size);
    background-image: url(../img/braccio.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--timer-size);
    width: var(--timer-size);
  }
  .progress-ring--shadow circle {
    fill: transparent;
    stroke-width: 6;
    stroke: var(--secondary-color);
    transition: stroke 0.5s ease-in;
  }
  .progress-ring--timer circle {
    fill: transparent;
    stroke-width: 6;
    stroke: var(--primary-color);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s ease-in;
  }
.controls {
    width: 290px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}
.timers {
    padding: 12px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.timer {
    font-size: 40px;
    font-feature-settings: 'tnum';
    background-color: var(--secondary-color);
    padding: 16px 4px 10px 4px;
    border-radius: 8px;
    text-align: center;
}
.timer--active {
    background-color: var(--primary-color);
    color: white;
}